<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Products
  body
    h1 Products
    ul
      each val,index in products
        li= 'Name: ' + val.name
        li= 'Price: $' + val.price
        li= 'Inventory: ' + val.inventory
        li= 'Id: ' + val.id
        li

