<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Articles
  body
    h1 Articles
    ul
      each article in articles
        li Name: #{article.title}
        li Body: #{article.body}
        li Author: #{article.author}
        li Id: #{article.id}
        li

